In [1]:
import pandas as pd

In [2]:
scoresDictionary = {"Alice": [92, 100, 89], "Bob": [80, 91, 72], "Carol": [57, 70, 100]}
print(scoresDictionary)
scores = pd.DataFrame(scoresDictionary)
print(scores)

{'Alice': [92, 100, 89], 'Bob': [80, 91, 72], 'Carol': [57, 70, 100]}
   Alice  Bob  Carol
0     92   80     57
1    100   91     70
2     89   72    100

In [3]:
scores1 = pd.DataFrame(scoresDictionary, index=['Quiz', 'Assignment', 'Exam'])
print(scores1)

            Alice  Bob  Carol
Quiz           92   80     57
Assignment    100   91     70
Exam           89   72    100

In [4]:
print(scores1.Alice)

Quiz           92
Assignment    100
Exam           89
Name: Alice, dtype: int64

In [5]:
print(scores1.loc['Quiz'])

Alice    92
Bob      80
Carol    57
Name: Quiz, dtype: int64

In [6]:
#index location
print(scores1.iloc[0])

Alice    92
Bob      80
Carol    57
Name: Quiz, dtype: int64

In [10]:
print(scores1.loc['Quiz':'Assignment'])

            Alice  Bob  Carol
Quiz           92   80     57
Assignment    100   91     70

In [8]:
print(scores1.loc[['Quiz','Exam']])

      Alice  Bob  Carol
Quiz     92   80     57
Exam     89   72    100

In [9]:
print(scores1.loc['Quiz':'Exam', ['Alice', 'Carol']])

            Alice  Carol
Quiz           92     57
Assignment    100     70
Exam           89    100

In [11]:
print(scores1[scores1 > 70])

            Alice  Bob  Carol
Quiz           92   80    NaN
Assignment    100   91    NaN
Exam           89   72  100.0

In [12]:
print(scores1[(scores1 > 70) & (scores1 <= 80)])

            Alice   Bob  Carol
Quiz          NaN  80.0    NaN
Assignment    NaN   NaN    NaN
Exam          NaN  72.0    NaN

In [13]:
print(scores1.at['Quiz', 'Carol'])
print(scores1.iat[0, 2])
scores1.at['Quiz', 'Carol'] = 62
print(scores1.iat[0, 2])

57
57
62

In [14]:
print(scores1.describe())

            Alice        Bob       Carol
count    3.000000   3.000000    3.000000
mean    93.666667  81.000000   77.333333
std      5.686241   9.539392   20.033306
min     89.000000  72.000000   62.000000
25%     90.500000  76.000000   66.000000
50%     92.000000  80.000000   70.000000
75%     96.000000  85.500000   85.000000
max    100.000000  91.000000  100.000000

In [15]:
print(scores1.mean())

Alice    93.666667
Bob      81.000000
Carol    77.333333
dtype: float64

In [16]:
print(scores1.T.mean())

Quiz          78.0
Assignment    87.0
Exam          87.0
dtype: float64

In [17]:
print(scores1.T.describe())

            Quiz  Assignment        Exam
count   3.000000    3.000000    3.000000
mean   78.000000   87.000000   87.000000
std    15.099669   15.394804   14.106736
min    62.000000   70.000000   72.000000
25%    71.000000   80.500000   80.500000
50%    80.000000   91.000000   89.000000
75%    86.000000   95.500000   94.500000
max    92.000000  100.000000  100.000000

In [20]:
print(scores1)
print(scores1.sort_index())

            Alice  Bob  Carol
Quiz           92   80     62
Assignment    100   91     70
Exam           89   72    100
            Alice  Bob  Carol
Assignment    100   91     70
Exam           89   72    100
Quiz           92   80     62

In [21]:
print(scores1)
print(scores1.sort_index(axis=1, ascending=False))

            Alice  Bob  Carol
Quiz           92   80     62
Assignment    100   91     70
Exam           89   72    100
            Carol  Bob  Alice
Quiz           62   80     92
Assignment     70   91    100
Exam          100   72     89

In [22]:
print(scores1.sort_values(by='Exam', axis=1, ascending=False))

            Carol  Alice  Bob
Quiz           62     92   80
Assignment     70    100   91
Exam          100     89   72